/*=====fonts=====*/

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold; /*para negritos*/
  font-weight: normal; /* para os demais sem negrito*/
  font-size: 14px;
  color: #f0f6fc; /* cor da fonte do header*/
  color: #c9d1d9; /* cor da fonte do main e aside*/
}

/*======Colors====*/

header {
  background: #161b22; /*background-color*/
  color: #0d1117; /* barra de busca background*/

  
}

main {
   color: #58a6ff; /*cor da fonte do text "send feedback"*/
}

aside {
  color: #0d1117; /*background do aside*/
  color: #2ea043; /* backgound do botão do aside a cor da letra é white*/
}
