* {
  padding: 0px;
  margin: 0px;
}
/* ------------main ---------------*/

main {
  background-color: #010409;
}

.following-for-you {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-following {
  padding: 6px 16px;
  border-radius: 8px;
}

.box-following:hover {
  background-color: #161b22;
}

.box-for-you {
  align-items: center;
  padding: 4px 16px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
}

.box-for-you:hover {
  background-color: #161b22;
}

.box-for-you p {
  color: green;
  padding: 2px;
  border: 1px solid green;
  border-radius: 16px;
}

.box-activity {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid #161b22;
}

.box-notify {
  display: flex;
  align-items: center;
  gap: 8px;
}

.box-notify img {
  width: 28px;
  border-radius: 100%;
}

.lembrete {
  margin-left: 36px;
}

.box-kgfreelas-principal {
  margin: 20px;
  border: 1px solid rgba(240, 245, 252, 0.1);
  border-radius: 8px;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #161b22;
}

.box-kgfreelas-githubclone {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.box-star {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid rgba(240, 245, 252, 0.1);
  border-radius: 8px;
  padding: 4px 12px;
}

.box-star img {
  width: 20px;
}

/* ------------------- aside   -------------------------------------------------*/
aside {
  padding: 20px;
  background-color: #010409;
  display: grid;
  gap: 24px;
  grid-template-areas: "repositories" "recent" "teams";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*areas*/

.recent-repositories {
  grid-area: repositories;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recent-repositories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-repositories-title h4 {
  font-weight: normal;
}

.recent-activity {
  grid-area: recent;
}
.recent-activity h4 {
  font-weight: normal;
}

.your-teams {
  grid-area: teams;
}
.your-teams h4 {
  font-weight: normal;
}

.list-repository {
  padding: 12px;
  display: grid;
  gap: 8px;
}

.list-repository_item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-repository_item img {
  width: 20px;
  border-radius: 100%;
}

/* BOTOES */

.green-button {
  align-items: center;
  flex-direction: row;
  font-weight: 500px;
  border: 1px solid;
  border-radius: 6px;
  color: white;
  padding: 4px 8px;
  background-color: #238636;
  display: none;
  border-color: rgba(240, 245, 252, 0.1);
}

.green-button img {
  width: 24px;
}

input {
  border-radius: 8px;
  border: 1px solid #30363d;
  height: 30px;
  background-color: #010409;
  color: #30363d;
}

.recent-activity > div {
  margin-top: 8px;
  padding: 4px;
}

.your-teams > div {
  margin-top: 8px;
  padding: 12px;
}
.your-teams p {
  font-weight: bold;
  color: white;
  text-align: center;
}

.card-block {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
}

.card-block > p {
  font-size: 12px;
  padding: 10px;
}

@media (min-width: 768px) {
  aside {
    background-color: #0d1117 !important;
  }
  .green-button {
    display: inline-flex;
  }
  .card-block {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
