* {
  padding: 0px;
  margin: 0px;
}

main {
  background-color: #010409;
}

.box-following {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.following a {
  padding: 8px 8px;
  border-radius: 8px;
}

.following a:hover {
  background-color: #161b22;
}

.itens {
  padding: 4px 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 8px;
}

.itens:hover {
  background-color: #161b22;
}

.itens p {
  font-size: 12px;
  color: green;
  padding: 4px 8px;
  border: 1px solid green;
  border-radius: 24px;
}

/* article */

.article-principal {
  gap: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.article-principal > p {
  color: #8b949e;
}

.article-itens img {
  width: 36px;
  border-radius: 100%;
}

.article-itens {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.article-second {
  border: 1px solid gray;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #161b22;
  align-items: center;
}

.article-second .star {
  padding: 4px;
  gap: 4px;
  border: 1px solid gray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #30363d;
}

.article-second .star img {
  width: 18px;
  margin: 0;
  padding: 0;
}

aside {
  padding: 20px;
  background-color: #010409;
  display: grid;
  gap: 24px;
  grid-template-areas: "repositories" "recent" "teams";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*areas*/

.recent-repositories {
  grid-area: repositories;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recent-repositories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-repositories-title h4 {
  font-weight: normal;
}

.recent-activity {
  grid-area: recent;
}
.recent-activity h4 {
  font-weight: normal;
}

.your-teams {
  grid-area: teams;
}
.your-teams h4 {
  font-weight: normal;
}

.list-repository {
  padding: 12px;
  display: grid;
  gap: 8px;
}

.list-repository_item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-repository_item img {
  width: 20px;
  border-radius: 100%;
}

/* BOTOES */

.green-button {
  align-items: center;
  flex-direction: row;
  font-weight: 500px;
  border: 1px solid;
  border-radius: 6px;
  color: white;
  padding: 4px 8px;
  background-color: #238636;
  display: none;
  border-color: rgba(240, 245, 252, 0.1);
}

.green-button img {
  width: 24px;
}

input {
  border-radius: 8px;
  border: 1px solid #30363d;
  height: 30px;
  background-color: #010409;
  color: #30363d;
}

.recent-activity > div {
  margin-top: 8px;
  padding: 4px;
}

.your-teams > div {
  margin-top: 8px;
  padding: 12px;
}
.your-teams p {
  font-weight: bold;
  color: white;
  text-align: center;
}

.card-block {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
}

.card-block > p {
  font-size: 12px;
  padding: 10px;
}

@media (min-width: 768px) {
  aside {
    background-color: #0d1117 !important;
  }
  .green-button {
    display: inline-flex;
  }
  .card-block {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
