* {
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  grid-template-areas: "aside1 aside2";
}

aside {
  padding: 20px;
  background-color: #010409;
  display: grid;
  gap: 24px;
  grid-template-areas: "repositories" "recent" "teams";
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  grid-area: aside1;
}

#sidebar{
  grid-area: aside2;
}

/*areas*/

.recent-repositories {
  grid-area: repositories;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.recent-repositories-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-repositories-title h4 {
  font-weight: normal;
}

.recent-activity {
  grid-area: recent;
}
.recent-activity h4 {
  font-weight: normal;
}

.your-teams {
  grid-area: teams;
}
.your-teams h4 {
  font-weight: normal;
}

.list-repository {
  padding: 12px;
  display: grid;
  gap: 8px;
}

.list-repository_item {
  display: flex;
  gap: 8px;
  align-items: center;
}

.list-repository_item img {
  width: 20px;
  border-radius: 100%;
}

/* BOTOES */

.green-button {
  align-items: center;
  flex-direction: row;
  font-weight: 500px;
  border: 1px solid;
  border-radius: 6px;
  color: white;
  padding: 4px 8px;
  background-color: #238636;
  display: none;
  border-color: rgba(240, 245, 252, 0.1);
}

.green-button img {
  width: 24px;
}

input {
  border-radius: 8px;
  border: 1px solid #30363d;
  height: 30px;
  background-color: #010409;
  color: #30363d;
}

.recent-activity > div {
  margin-top: 8px;
  padding: 4px;
}

.your-teams > div {
  margin-top: 8px;
  padding: 12px;
}
.your-teams p {
  font-weight: bold;
  color: white;
  text-align: center;
}

.card-block {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 8px;
}

.card-block > p {
  font-size: 12px;
  padding: 10px;
}

@media (min-width: 768px) {
  aside {
    background-color: #0d1117 !important;
  }
  .green-button {
    display: inline-flex;
  }
  .card-block {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}

/*=====================Aside-Sidebar================*/

.time-notification{
  opacity: 0.6;
}

.text-sidebar:hover{
  color: #58a6ff;
}

.subtitulo-sidebar:hover{
  color: #58a6ff;
  text-decoration: none;
  
}

#sidebar a:hover {
  color: #58a6ff;
}

.star-number::after{
  content: '';
  height: 1px;
  width: 100%;
  background-color: white;

  display: block;
  margin-top: 20px;
  opacity: 0.2;
}

.ball-text::before{
  content: '';
  height: 18px;
  width: 18px;
  background-color: rgb(245, 245, 81);
  border-radius: 100%;

  display: inline-block;
  margin: 4px;
  
}

.explore-more{
  opacity: 0.6;
}



.content-sidebar::before{
  content: '';
  height: 290px;
  width: 1px;
  background-color: white;
  display: flex;
  position: absolute;
  opacity: 0.3;
  margin-left: -21px;
  
}

.time-notification::before{
  content: '';
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  margin-left: -25px;
  margin-top: 6px;
}

@media(max-width:1003px){
  #sidebar{
    display: none;
  }
}